<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Bronze Age Comics: Home</title>
    <link rel="stylesheet" href="/style1.css">
 </head>
 <body>
  
  <div id="banner">
    <a href="/">
    	<span>Bronze Age Comics - INLS 490-186: Web Information Organization</span>
	</a>
  </div>
  <div id="main">
    <ul id="menu">
		<li><a href="/titles/">List of Comic Book Titles</a></li>
		<li><a href="/issues/">List of Comic Book Issues</a></li>	
    </ul>
	<div id="content">
		<div class="content_container">
	        Welcome to the Bronze Age Comics Web Information Service.
            <br>Use the menu on the left to get started.
        </div>	
    </div>
  </div>
</body>
</html>