<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Bronze Age Comics: Home</title>
    <link rel="stylesheet" href="/style1.css">
 </head>
 <body>
  <div id="banner">
    <a href="/">
    	<span>Bronze Age Comics - INLS 490-186: Web Information Organization</span>
	</a>
  </div>
  <div id="main">
    <section id="menu">
     <ul>        
		<li><a href="/titles/">List of Comic Book Titles</a></li>
		<li><a href="/issues/">List of Comic Book Issues</a></li>	
     </ul>
     
    </section> 
	<section id="content">
        <div id="primary">
	        Welcome to the Bronze Age Comics Web Information Service.<br>
            Use the menu on the left to get started.<br>
            <br>
            <br>
            From <a href="http://en.wikipedia.org/wiki/Bronze_Age_of_Comic_Books">Wikipedia:</a><br>
            <blockquote cite="http://en.wikipedia.org/wiki/Bronze_Age_of_Comic_Books">
                The Bronze Age of Comic Books is an informal name for a period in the history of mainstream American comic books usually said to run from 1970 to 1985. It follows the Silver Age of Comic Books.<br>            
            </blockquote><br>
            <h3>Search for issues by name or number</h3><br>
            <form method="get" action="/issues/">
            <label>Issue number: <input name="name"></label>
            <button>Search</button>
            </form>
        </div>    
    </section>
  </div>
</body>
</html>