<!DOCTYPE html>
<html>
  <head>
    <title>Bronze Age Comics: Home</title>
    <link rel="stylesheet" href="/style1.css">
  </head>
  <body>
    <a href="/"><h1>Bronze Age Comics</h1></a>
    <div>
      <a href="/titles/"><h2>List of comic book titles</h2></a>
    <div>
    <div>
      <a href="/issues/"><h2>List of issues</h2></a>
    <div>
  </body>
</html>
