html {
    height: 100%;
    width: 100%;
}

body {
	height: 100%;
	width: 100%;
    background-color: #666666;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: normal;
    overflow-x: hidden;
}


#banner {
    width: 100%;
	height: 55px;
	background-color: #56A0D3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56A0D3), to(#FFFFFF));
	background: -webkit-linear-gradient(top, #56A0D3, #FFFFFF);
	background: -moz-linear-gradient(top, #56A0D3, #FFFFFF);
	background: -ms-linear-gradient(top, #56A0D3, #FFFFFF);
	background: -o-linear-gradient(top, #56A0D3, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
                startColorstr=#56A0D3, endColorstr=#FFFFFF);
    border-bottom: 4px solid #000000;
    -webkit-box-shadow: -2px -2px 3px rgba(255,255,255,.5);
	-moz-box-shadow: -2px -2px 3px rgba(255,255,255,.5);
	box-shadow: -2px -2px 3px rgba(255,255,255,.5);
	color: white;
	vertical-align: middle;
	font-size: 24px;
	line-height: 55px;
}

#banner span {
    display: block;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	color: #000000;
}

a:link {
    text-decoration: none;
	color: #000000;
	}
	
a:visited {
	text-decoration: none;
	color: #000000;
	}
	
a:hover {
	color: #56A0D3;
	}

#main {
    
    height: 100%;
	width: 950px;
	clear: both;
	margin: 5px auto 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: -2px -2px 3px rgba(0,0,0,.5);
    -moz-box-shadow: -2px -2px 3px rgba(0,0,0,.5);
	box-shadow: -2px -2px 3px rgba(0,0,0,.5);
}

#menu {
    height: 100%;
	width: 300px;
	padding: 10px 0 0 10px;
	float: left;
	list-style: none;
	border-right: 2px solid #000000;
	line-height: 24px;
	font-size: 18px;
    background-color: #ffffff;
}

#content {
	float: left;
	height: 100%;
    padding: 25px 0 0 10px;
    
}

.content_container {
    padding: 0 10px 10px;
}

.primary_column {
    float: left;
	width: 560px;
	padding: 0 10px 10px 10px;
}

.primary_column h2 {
    padding: 5px 10px;
	background-color: #56A0D3;	
}
